body{
    background-color: #1E1F3B;
    padding-top: 150px;
    text-align: center;
    padding-left: 5%;

    
}
.container{
    
    position:fixed;
    margin:auto;
    width:300px;
    height: 350px;
    background-color: #fff; 
}


.dimiss-button:hover{
    color:#fff;
    background: linear-gradient(45deg,#ff5379,#DC5605 );
}
@media(min-width:1024px){
    .dimiss-button{
        text-decoration: none;
        color:white;
        background-color: #1E1F3B;
        padding: 1em 3em;
        border-radius:10px;
        display:inline-block;
        transition: background-color, 0s;
        font-size:12px;
        text-align: center;
    }
    .container{
        position:fixed;
        margin:auto;
        width:20%;
        max-width: 600px;
        max-height: 90%;
        background-color: #fff;
        padding: 2.5em 3em;
        display:grid;
        text-align: left;
        border-radius: 20px;
        grid-auto-columns: 100%;
        color:hsl(0, 0%, 3%);
    }
    body{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-style: normal;
        background-color: #1E1F3B;
    }
}